/*
--------------------------------------------------
Reset
--------------------------------------------------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*
--------------------------------------------------
Header
--------------------------------------------------
*/

header {
    background-color: white;
    max-width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    padding: 25px 20px;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 999;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav1,
.nav2 {
    display: flex;
    gap: 20px;
}

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    font-weight: 400;
    font-size: 14px;
}

.li {
    padding: 5px 10px;
}

.inizia {
    background-color: #0061ff;
    color: white;
    padding: 5px 15px;
}

/*
--------------------------------------------------
Main
--------------------------------------------------
*/

main {
    margin-top: 80px;
}

.jumbo {
    background-color: #b4d0e7;
    display: flex;
}

.container {
    margin: 0 auto;
    max-width: 1180px;
}

h1 {
    font-size: 77px;
    font-weight: 800;
}



