/*
--------------------------------------------------
Reset
--------------------------------------------------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/*
--------------------------------------------------
Header
--------------------------------------------------
*/

header {
    background-color: white;
    max-width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    padding: 25px 20px;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 999;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav1,
.nav2 {
    display: flex;
    gap: 20px;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    font-weight: 400;
    font-size: 14px;
}

.li {
    padding: 5px 10px;
}

.inizia {
    background-color: #0061ff;
    color: white;
    padding: 5px 15px;
}

/*
--------------------------------------------------
Main
--------------------------------------------------
*/

main {
    margin-top: 80px;
}

/*
--------------------------------------------------
Jumbotron
--------------------------------------------------
*/

.jumbo {
    background-color: #b4d0e7;
    display: flex;
}

.bigcontainer {
    margin: 0 auto;
    max-width: 1180px;
    position: relative;
    bottom: -80px;
}

h1 {
    font-size: 77px;
    font-weight: 800;
}

.container {
    display: flex;
    max-width: 1180px;
    margin-top: 73px;
}

.minicontainer1 {
    max-width: 360px;
}

.minicontainer2 {
    max-width: 787px;
}

img {
    width: 100%;
}

.provagratis {
    margin-top: 35px;
    background-color:  #0061ff;
    color: white;
    display: inline-block;
    padding: 10px 15px;
}

.annullamento {
    margin-top: 35px;
}

.icona1 {
    margin-top: 58px;
    font-size: 40px;
}

/*
--------------------------------------------------
Sezione piano tariffe
--------------------------------------------------
*/

.pianotariffe {
    max-width: 1000px;
    margin: 165px auto;
}

h2 {
    font-size: 39px;
}

.ul2 {
    display: flex;
    gap: 45px;
    list-style-type: none;
    font-weight: 400;
    font-size: 14px;
    margin-top: 70px;
}

.bigcontainer2 {
    display: flex;
    max-width: 1000px;
    margin-top: 50px;
    gap: 45px;
}

.tariffaspecifica {
    width: calc(100% / 3);
    border: 1px solid #d0d0d3;
}

.singolo {
    text-align: center;
    padding: 12px 0;
    font-size: 14px;
}



.dettaglitariffa {
    border-top: 1px solid #d0d0d3;
    padding: 35px 30px;
}

h3 {
    font-size: 22px;
}

.prezzo {
    margin-top: 23px;
    font-size: 14px;
}

.mese {
    margin-top: 16px;
    display: inline-block;
    color: grey;
}

.tariffaspecifica ul {
    list-style-type: none;
    margin-top: 52px;
}

.tariffaspecifica ul li {
    margin-top: 20px;
    font-size: 14px;
    display: flex;
    gap: 10px;
}

.provagratuita {
    margin-top: 52px;
    background-color:  #0061ff;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

.link,
hr {
    font-size: 14px;
    margin-top: 35px;
}

h4 {
    font-size: 14px;
    margin-top: 50px;
}

.iconacolorata {
    color: #0061ff;
    font-size: 16px;
}

.tariffaspecifica ul:last-child {
    list-style-type: none;
    margin-top: 35px;
    font-size: 14px;
}

.bigcontainer3 {
    max-width: 1000px;
    margin-top: 50px;
    border: 1px solid #d0d0d3;
}


.hrteam {
    margin-top: 0;
}

.cont {
    max-width: 1000px;
    display: flex;
    padding: 30px;
    justify-content: space-between;
}

.col1 {
    width: 70%;
}

.col2 {
    width: 30%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    
}

.uffvendite {
    background-color:  #0061ff;
    color: white;
    text-align: center;
    padding: 10px 35px;
    font-size: 14px;
    display: inline-block;
}

.bigcontainer3 h4 {
    margin-top: 10px;
    font-size: 14px;
}

.col1 p {
    font-size: 14px;
    margin-top: 50px;
}

/*
--------------------------------------------------
Sezione 3
--------------------------------------------------
*/

.sezione3 {
    display: flex;
    max-width: 1000px;
    margin-top: 150px;
    margin: 0 auto;
    gap: 51px;
}

.minicontainer3 {
    max-width: 600px;
}

.minicontainer4 {
    max-width: 270px;
    margin-top: 58px;
}

.partnerp {
    margin-top: 20px;
    font-size: 14px;
}

.partnerbottom {
    margin-top: 35px;
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid black;
    font-size: 14px;
}

/*
--------------------------------------------------
Sezione 4
--------------------------------------------------
*/

.titolosez4 {
    max-width: 1000px;
    margin: 170px auto;
    margin-bottom: 70px;
}

.bigcontainer4 {
    max-width: 1000px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}

.miniimg {
    width: calc(100% / 3);
    padding: 20px 30px;
}

.pimg {
    margin-top: 20px;
    font-size: 14px;
}

/*
--------------------------------------------------
Sezione 5
--------------------------------------------------
*/

.sezione5 {
    max-width: 1000px;
    margin: 210px auto;
    margin-bottom: 150px;
}

.linkclienti {
    display: inline-block;
    margin-top: 60px;
    font-size: 14px;
}

/*
--------------------------------------------------
Sezione 6
--------------------------------------------------
*/

.bigcontainer5 {
    display: flex;
}

.sponsorcontainer {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3);
    height: calc(100vw /3);
}

.sponsor,
.sponsor2 {
    display: flex;
    width: 50%;
    height: 50%;
    align-items: center;
    justify-content: center;
}

.logosponsor {
    width: 50%;
    filter: invert(1);
}

.sponsor:first-child {
    background-color: #a2d39b;
    border: 15px solid #d1e9cd;
}

.sponsor:nth-child(2) {
    background-color: #61082b;
}

.sponsor:nth-child(3) {
    background-color: #0093ce;
}

.sponsor:nth-child(4) {
    background-color: #ff1c1c;
}

.sponsorvuoto {
    background-color: #f5f5f5;
    padding: 47px;
    width: calc(100% / 3);
    height: calc(100vw /3);
}

.sponsorvuoto hr {
    width: 100px;
}

.sponsorvuoto p {
    font-size: 15px;
    margin-top: 40px;
}

#designit {
    width: 230px;
}

.sponsor2:first-child {
    background-color: #d5001f;
}

.sponsor2:nth-child(2) {
    background-color: #b4d0e7;
}

.sponsor2:nth-child(3) {
    background-color: #0d2481;
}

.sponsor2:nth-child(4) {
    background-color: #ffd830;
}

/*
--------------------------------------------------
Sezione 7
--------------------------------------------------
*/

.sezione7 {
    background-color: #b4d0e7;
    padding: 134px;
}

.bigcontainer7 {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
}

.business {
    max-width: 474px;
    color: #61082b;
}

.provagratiscont {
    max-width: 300px;
}

.provagratis3 {
    background-color: white;
    display: inline-block;
    padding: 10px 40px;
}

/*
--------------------------------------------------
Sezione 8
--------------------------------------------------
*/

.sezione8 {
    max-width: 1000px;
    margin: 160px auto;
}

.sezione8 h2 {
    margin-bottom: 60px;
}

.sezione8 hr {
    margin-top: 44px;
}

.faq {
    display: flex;
    justify-content: space-between;
}

.faq h4 {
    font-size: 16px;
    margin-top: 44px;
}

.faq i {
    margin-top: 44px;
    padding: 0px 35px;
}

/*
--------------------------------------------------
Footer
--------------------------------------------------
*/

footer {
    background-color: black;
}

.links {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 102px;
    padding-top: 105px;
}

.contatti {
    width: calc(100% / 5);
}
.contatti ul {
    list-style-type: none;
}

.contatti ul li {
    color: white;
    margin-top: 15px;
    font-size: 14px;
}

.contatti ul li h4 {
    margin-top: 0px;
    font-size: 22px;
    margin-bottom: 39px;
}

.language {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}

.language div {
    color: grey;
}

.language hr {
    width: 125px;
    border: 1px solid white;
    margin: 50px 0;
}






























